@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.contact-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  color: $gris-foncé;
  font-size: 1rem;

  @include responsive(mobile) {
    font-size: 0.8rem;
  }

  p {
    margin: 0.5rem 0;
  }

  &__socials {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    @include responsive(mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
    }

    a {
      color: $terre-cuite;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include responsive(mobile) {
    width: 100%;
  }
}
