@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.contact-map {
  margin-top: 2rem;

  iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
  }
}
