@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.project-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border: 3px solid $terre-cuite;
    border-radius: 8px 8px 0 0;

    @include responsive(mobile) {
      height: 160px;
    }
  }

  &__content {
    @include flex-center;
    padding: 1rem 1.25rem;
    flex-grow: 1;

    h2 {
      font-family: $font-main;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: $terre-cuite;
      width: 70%;

      @include responsive(mobile) {
        font-size: 1.1rem;
      }
    }

    p {
      font-family: $font-main;
      color: $gris-foncé;
      margin-bottom: 0.5rem;
      line-height: 1.4;
      font-size: 0.9rem;

      @include responsive(mobile) {
        font-size: 0.85rem;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(245, 222, 179, 0.6);
    width: 100%;
    height: 100%;
    color: $gris-foncé;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  &:hover &__overlay {
    opacity: 1;
  }
  &__overlay-btn {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $terre-cuite;
    }
  }
}
