@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.hero {
  position: relative;

  &__container {
    position: relative;
    /*width: 100%;*/
    height: 80vh;

    @include responsive(tablet) {
      height: 50vh;
    }

    @include responsive(mobile) {
      height: 40vh;
    }
  }

  &__caption {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 90%;
    border-radius: 8px;
    z-index: 3;
    text-align: center;

    @include responsive(tablet) {
      font-size: 0.7rem;
      padding: 0.4rem 0.8rem;
      width: 90%;
    }

    @include responsive(mobile) {
      font-size: 0.35rem;
      padding: 0.3rem 0.6rem;
      width: 90%;
    }
  }
}
