@use "../../styles/abstracts/variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin barre-gris-clair {
  border-top: 2px solid $gris-clair;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: ($bp-desktop - 1)) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: ($bp-tablet - 1)) {
      @content;
    }
  }
}
