// Couleurs
$beige: #f5f0e6;
$sable: #d9c5b2;
$terre-cuite: #a36544;
$gris-foncé: #333;
$gris-clair: rgba(0, 0, 0, 0.05);
$beige-clair: rgba(245, 222, 179, 0.6);

// Typo
$font-main: "Montserrat", sans-serif;

// Breakpoints
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
