@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.contact {
  background-color: $beige;
  padding: 2rem;
  @include barre-gris-clair;

  @include responsive(tablet) {
    padding: 1.5rem 2rem;
  }

  @include responsive(mobile) {
    padding: 1rem 2rem;
  }

  &__title {
    font-family: $font-main;
    color: $terre-cuite;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

    @include responsive(tablet) {
      font-size: 1.8rem;
    }

    @include responsive(mobile) {
      font-size: 1.6rem;
    }
  }

  &__intro {
    text-align: center;
    margin-bottom: 2rem;
    color: $gris-foncé;
    font-size: 1rem;
  }

  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 375px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .contact-map {
    @include responsive(mobile) {
      display: none;
    }
  }
}
