@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.contact {
  background-color: $beige;
  padding: 2rem;
  @include barre-gris-clair;

  &__title {
    font-family: $font-main;
    color: $terre-cuite;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__intro {
    text-align: center;
    margin-bottom: 2rem;
    color: $gris-foncé;
    font-size: 1rem;
  }

  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 375px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
